<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Links Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div id="link1">
        <a href="https://www.qu.edu.qa" target="_blank">Go to QU website (open a new tab)</a>
    </div>
    <div id="link2">
        <a href="https://www.qu.edu.qa">Go to QU website (open in the same page/tab)</a>
    </div>
    <div id="link3">
        <a href="https://www.qu.edu.qa">Go to QU website (open in the same page/tab)</a>
    </div>

    <footer>
        © 2024 My Library. All rights reserved.
    </footer>
</body>
</html>
