<!DOCTYPE html>
<html lang="en">
{% load static %} <!-- Load static files -->
<head>
    <title>Text Formatting Example</title>
    <meta name="keywords" content="HTML5, formatting, text">
    <meta name="description" content="Example of HTML5 text formatting tags">
    <meta name="author" content="author name">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
</head>
<body>
    <h1>Example of Formatting tags</h1>
    <p>This text has <b>subtext</b> using <b> b tag </b></p>
    <p>This text has <strong>subtext</strong> using <strong>strong tag</strong></p>
    <p>This text has <i>subtext</i> using <i>i tag</i></p>
    <p>This text has <em>subtext</em> using <em>emphasize tag</em></p>
    <p>This text has <small>subtext</small> using <small>small tag</small></p>
    <p>This text has <mark>subtext</mark> using <mark>mark tag</mark></p>
    <p>This text has <del>subtext</del> using <del>del tag</del></p>
    <p>This text has <ins>subtext</ins> using <ins>ins tag</ins></p>
    <p>This text has <sub>x<sub>subtext</sub></sub> using <sub>sub tag</sub></p>
    <p>This text has <sup>x<sup>subtext</sup></sup> using <sup>sup tag</sup></p>
</body>
</html>
